<div class="container fadeIn animated" style="max-width: 22cm;">

    <h1>Informacion Restaurante </h1>

    <div class="card-mb">

        <hr />
        <div class="card-body">
            <h5 class="card-title">{{restaurante.nombreRestaurante}}</h5>
            <div class="return text-right"><br>
                <button class="btn btn-danger" [routerLink]="['/Consultar']">Atrás</button>
            </div>
            <h6>Nit: {{restaurante.nit}}</h6>
            <h5>Direccion: {{restaurante.direccion}}</h5>
            <h5>Identificacion Dueño: {{restaurante.id}}</h5>
            <h5>Estado: {{restaurante.estado}}</h5>
        </div>

    </div>


    <div class="card-body">
        <button type="button" class="btn btn-success " [routerLink]="['/Modificar']"> 
            <i class="fa fa-arrow-left"></i>>
            Modificar Solicitud
        </button>
        <button class="btn btn-danger text-right" type="reset" (click)="delete()" [routerLink]="['/Consultar']">
            <i class="fa fa-cube"></i>
            Eliminar
        </button>
    </div>
    </div>