<div class="flex-row">
    <div class="center content-center">
        <div class="m-5 col">
            <div class="row">
                <form [formGroup]="formulario" (submit)="registrar()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo</label>
                        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Puto el que me toque</label>
                    </div>
                    <div class="form-group">
                        <a (click)="navegar()">Ya tienes cuenta?</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>